---
title: Home page
slug: index
position: 0
listed: true
published: true
is_layout: false
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href=""{{ 'favicon/favicon.ico' | theme_image_url }}"" type="image/x-icon">
    <title>{{ page.title }}</title>
    {{ 'varbase.css' | stylesheet_tag }}
    {{ 'index.css' | stylesheet_tag }}
    {{ 'base.js' | javascript_tag }}
  </head>
  <body>
    {% section header %}
    
    {% block 'main' %}
      {% include cookies %}
      {% section 'hero' %}
      {% section 'about_us' %}
      {% section 'featured_products' %}
      {% section 'product_suggestion' %}
      {% include newsl %}
    
    {% endblock %}
  </body>
  {% section footer %}
</html>