---
name: About us
icon: slide
settings:
- label: My awesome title
  id: title
  type: text
- label: An image
  id: image
  type: image_picker
blocks:
- name: List item
  type: list_item
  settings:
  - label: Item title
    id: title
    type: text
    default: Unde numquam quia cumque.
  - label: Item image
    id: image
    type: image_picker
    default: https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg
presets:
- name: About us
  category: Category
  settings:
    title: Eveniet facere exercitationem deleniti.
    image: https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg
  blocks:
  - type: list_item
    settings:
      title: Corrupti officia facilis voluptatem.
      image: https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg
  - type: list_item
    settings:
      title: Labore commodi facilis a.
      image: https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg
  - type: list_item
    settings:
      title: Qui eius occaecati quam.
      image: https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg

---
{% comment %}
Above is the YAML definition of your section. Modify it to match your needs.

To use your section, 2 possibilities:

1. within a dropzone

Make sure that your layouts or your page includes the following liquid tag:

{% sections_dropzone %}

If you want to test this section in your Wagon site, add the following
lines in the YAML section of any page including the {% sections_dropzone %}
(or inheriting from a layout including it):

sections_dropzone_content:
- type: "about_us"
settings:
title: "Aperiam cumque corrupti autem."
image: "https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg"
blocks: 
- type: list_item
settings:
title: "Occaecati molestiae et sunt."
image: "https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg"
- type: list_item
settings:
title: "Accusamus quas dolores quia."
image: "https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg"
- type: list_item
settings:
title: "Occaecati maxime ex dicta."
image: "https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg"

2. as stand-alone section

{% section 'about_us' %}

If you want to test this section in your Wagon site, add the following
lines in the YAML section of the page including the statement above or complete it.

sections_content:
about_us:
settings:
title: "Omnis modi rem at."
image: "https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg"
blocks: 
- type: list_item
settings:
title: "Quo tenetur natus rem."
image: "https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg"
- type: list_item
settings:
title: "Non necessitatibus omnis tempora."
image: "https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg"
- type: list_item
settings:
title: "Fuga soluta nobis qui."
image: "https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg"

{% endcomment %}<section class="about-us">
  <h2 class="about-us__title">Creating perfect lines and imposing presence</h2>
  <p class="about-us__description">Developed the concept of exclusivity, a Typology features timeless furniture, with natural fabrics, curved lines, plenty of mirrors and classic design, which can be incorporated into any decor project. The pieces enchant for their sobriety, to last for generations, faithful to the shapes of each period, with a touch of the present.</p>
  <a href="404.liquid" class="about-us__btn btn btn--third">Read about us</a>

  <div class="about-us__bg-images">
    <img src="{{ 'products/atajux_lamp.PNG' | theme_image_url }}" alt="">
    <img src="{{ 'products/aramado_lamp.PNG' | theme_image_url }}" alt="">
    <img src="{{ 'products/funyl_lamp.PNG' | theme_image_url }}" alt="">
    <img src="{{ 'products/laqcua_candleholder.PNG' | theme_image_url }}" alt="">
    <img src="{{ 'products/scene_5.PNG' | theme_image_url }}" alt="">
    <img src="{{ 'products/nobrega_lamp.PNG' | theme_image_url }}" alt="">
  </div>
</section>